.news-title{
	font-family: AvenirNext, sans-serif;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #b9b9b9;
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}