.editor {
  width: 100%;
  height: 275px;
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
}

.rdw-option-wrapper{
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}

.rdw-dropdown-selectedtext.a:hover{
  color:black !important;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switchLabel{
  padding-bottom: 15px;
}