.feed-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    background-color: #F7F7F7;
    border-radius: 4px;
    margin-bottom: 32px;
}

.feed-description{
    margin-left: 8px;
    margin-right: 8px;
    color: #5e5e5e;
}

.feed-item-container a:hover {
    text-decoration: none;
}

.feed-item:hover {
    background-color: #2398b43f;
}

.feed-date {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    color: #7d7d7d;
}

.feed-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    max-lines: 2;
    color: #111111
}

.preview-img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow:hidden; /*hide bounds of image */
    height: 150px;
}
.preview-img img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
    height: 150px;
    object-fit: cover;
}


