.social-icon {
    margin-top: 6px;
    margin-right: 19px;
}

.contact-caption {
    font-family: AvenirNext;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
}

.contact-title {
    font-family: AvenirNext;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
}

.footer {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background: url('/media/header.png') no-repeat center center;
    background-size: cover;
}

.footer > div, .footer > a {
    color: #ffffff;
}

.footer-overlay {
    text-align: center;
    height: 100%;
    background-color: rgba(35, 152, 180, .7);
}

.footer-name {
    font-family: AvenirNext;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.footer-description {
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
}

.footer-title {
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.social-group{
    margin-top: 10px;
}