.last-story {
    display: block;
    box-sizing: border-box;
}

.last-story-title {
    font-family: AvenirNext;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
}

.last-story-item {
    font-family: AvenirNext;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    margin-top: 21px;
    color: #8c8c8c;
    position: relative;
    display: block;
}
