@font-face {
font-family: 'AvenirNext';
font-style: oblique;
font-weight: bold;
src: local('Avenir Next Bold'), url('../fonts/AvenirNext-Bold.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext';
font-style: normal;
font-weight: normal;
src: local('Avenir Next Regular'), url('../fonts/AvenirNext-Regular.woff') format('woff');
}

@font-face {
font-family: 'AvenirNext';
font-style: normal;
font-weight: 600;
src: local('Avenir Next Regular'), url('../fonts/AvenirNext-DemiBold.woff') format('woff');
}